ul li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel {
  width: 100%;
  display: block;
  height: 500px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.slider-slide > img {
  width: 100%;
  margin-top: -195px !important;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .carousel {
    height: 225px;
  }
  .slider-slide > img {
    width: 100%;
    margin-top: 0px !important;
  }
}
