.App {
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}

p{
  font-size: 1rem;
  line-height: 1rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}
h1{
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 800;
  padding-top: 30px;
  padding-bottom: 30px;
  
}
h2{
  font-size: 2.2rem;
  line-height: 2.2rem;
  font-weight: 600;
  padding-top: 22px;
  padding-bottom: 22px;
}
h3{
  font-size: 1.8rem;
  line-height: 1.8rem;
  font-weight: 500;
  padding-top: 18px;
  padding-bottom: 18px;
}
h4{
  font-size: 1.4rem;
  line-height: 1.4rem;
  font-weight: 400;
  padding-top: 14px;
  padding-bottom: 14px;
}
h5{
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 400;
  padding-top: 10px;
  padding-bottom: 10px;
}
h6{
  font-size: 0.7rem;
  line-height: 1rem;
  font-weight: 300;
  padding-top: 5px;
  padding-bottom: 5px;
}

div{
  margin:0px auto;
}

a{
  text-decoration: none;
}